.europe_container {
  padding-top: 8%;
  display: flex;
}

.europe {
  padding-top: 5%;
}

.europe_map {
  width: 50%;
}

@media only screen and (min-width: 400px) {
  .europe_map {
    padding-top: 5%;
    background-color: #22262a;
    width: 50%;
  }

  .europe_container {
    width: 100%;
    align-items: center;
  }

  .map_text {
    text-align: center;
    justify-content: center;
    padding-left: 10%;
  }
}
