.europe_container {
  padding-top: 8%;
}

.europe {
  padding-top: 5%;
}

.europe_map {
  width: 40%;
  min-width: 25rem;
}

@media only screen and (max-width: 400px) {
  .europe_map {
    padding-top: 5%;
    background-color: #22262a;
    width: 100%;
  }

  .europe_container {
    width: 100%;
    align-items: center;
  }
}

@media only screen and (min-width: 400px) {
  .europe_map {
    padding-top: 5%;
    background-color: #22262a;
    max-width: 100%;
  }

  .europe_container {
    width: 100%;
    align-items: center;
  }
}
