.europe_container {
  padding-top: 8%;
  display: flex;
  background-color: #5688e3;
}

.europe {
  padding-top: 5%;
}

.europe_map {
  width: 50%;
}

@media only screen and (max-width: 900px) {
  .europe_container {
    width: 100%;
    align-items: center;
    width: 600px;
    margin: auto;
  }
  
  .europe_map {
    padding-top: 5%;
    width: 60%;
  }

  .map_text {
    text-align: center;
    justify-content: center;
    margin: auto;
    font-size: 0.8rem;
  }

  .know_more {
    color: white;
  }
}
