.home {
  width: 90%;
  margin: auto;
  padding-top: 3%;
  background-color: #4269b2;
}

.home h6 {
  color: #d9e2f7;
  padding-bottom: 2%;
}

.home form {
  width: 100%;
  border-style: none;
  margin: auto;
}

.home form input {
  width: 25rem;
  padding: 0.5rem;
}

.country_section {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5%;
  justify-content: space-around;
}

.country {
  margin: 1% 2%;
}

@media only screen and (max-width: 900px) {
  .home {
    max-width: 600px;
    min-width: 600px;
    margin: auto;
  }

  .home h6 {
    margin: auto;
  }

  .home form input {
    min-width: 36rem;
  }

  .country_section {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    padding-top: 5%;
    justify-content: space-around;
  }
}

