.solo_card {
  width: 80%;
  margin: auto;
  margin-top: 5%;
}

.solo_card h2 {
  text-align: center;
  margin-top: 3%;
  padding-bottom: 5%;
  color: #d9e2f7;
}

.body_card {
  display: flex;
}

.flag_leftside,
.flag_rightside {
  width: 40%;
}

.flag_leftside img {
  width: 70%;
  padding-bottom: 5%;
}

.flag_leftside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flag_meaning {
  color: #d9e2f7;
}

.flag_meaning p {
  color: #d9e2f7;
}

.flag_rightside {
  margin-top: 7%;
  color: #d9e2f7;
}

@media only screen and (max-width: 900px) {
  .solo_card {
    max-width: 600px;
    padding-top: 4%;
    margin-left: 12%;
  }

  .flag_leftside img {
    margin: auto;
    margin-bottom: 4%;
  }

  .body_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .flag_leftside,
  .flag_rightside {
    width: auto;
  }

  .flag_meaning {
    width: 92%;
    margin: auto;
  }

  .flag_meaning h3 {
    padding-bottom: 3%;
  }

  .flag_rightside {
    width: 100%;
    margin: auto;
  }

  .table_name {
    font-weight: bold;
  }

  .solo_card h2 {
    margin-top: 5%;
    margin-bottom: 7%;
  }

  .table_row {
    width: 90%;
    margin: 3%;
  }
  .table_row td {
    padding: 0.8rem;
  }

  .table_row tr {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
