@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,100;1,700&display=swap');

.card {
  background-color: #3f62a5;
  color: #fdfdf8;
  width: 12rem !important;
  font-family: 'Lato', sans-serif;
}

.card a {
  align-self: end;
  color: #fdfdf8 !important;
  padding-right: 3%;
  font-size: 1.2rem;
}

.card a:hover {
  filter:drop-shadow(1px 1px 3px lightgray);
}

.country_name {
  margin: auto;
}

.card_image {
  margin: auto;
}

.card img {
  margin: auto;
  min-width: 7rem;
  max-width: 7rem;
  min-height: 4rem;
  max-height: 4rem;
}

.card_population {
  margin: auto;
  padding: 1% 0;
}

.country_name td {
  margin: auto;
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .card {
    width: 270px!important;
  }

  .card a {
    font-size: 0.8rem;
    position: absolute;
    right: 7%;
    top: 7%;
  }

  .card a:hover {
    filter:drop-shadow(3px px 5px lightgray);
  }

  .card_image {
    width: 100%;
    margin: auto;
    padding-left: 28%;
    padding-bottom: 2%;
  }

  .card img {
    margin: auto;
    width: 6rem;
    min-height: 4rem;
    min-width: 7rem;
    max-height: 4rem;
    max-width: 5rem;
    align-items: center;
    margin-top: 10%;
  }

  .card_population p {
    padding-left: 2% !important;
  }

  .country_name {
   font-size: 1.2rem;
   padding-top: 2%;
   font-weight: bold;
  }

  .card-img-top {
    min-width: 3rem;
    min-height: 7rem;
  }

  .flag_title h4 {
    font-size: 1.2rem;
  }

  .flag_title p {
    font-size: 0.8rem;
    text-align: end;
  }
}
