.card {
  border: 1px solid #fdfdf8;
  --bs-card-bg: none !important;
}

.card-title {
  padding-top: 10%;
}

.card_body {
  background-color: #4269b2;
  color: #fdfdf8;
}

.flag_title h4 {
  padding-bottom: 6%;
}

.country_tag {
  text-decoration: underline;;
}

.flag_title h6,
.flag_title h4 {
  text-align: end;
}

.card-img-top {
  min-height: 12rem;
}

.flag_title a {
  position: absolut;
  top: 2%;
  color: #fdfdf8 !important;
 }

@media only screen and (max-width: 900px) {
  .card {
    width: 9rem !important;
  }

  .card img {
    min-width: 7rem;
    min-height: 6rem;
  }

  .card_body {
    padding: 0.7em;
  }

  .card-img-top {
    min-width: 3rem;
    min-height: 7rem;
  }

  .flag_title h4 {
    font-size: 1.2rem;
  }

  .flag_title p {
    font-size: 0.8rem;
    text-align: end;
  }

  .flag_title a {
    font-size: 0.8rem;
    position: absolute;
    right: 7%;
    top: 7%;
  }
  
}
